body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drumbox {
  background-color: #888888;
  width: 70vw;
  height: 50vh;
  margin: 25vh auto;
  padding: 0;
}

.row {
  margin: 0;
}

.boxRow {
  height: 100%;
}

.btnRow {
  height: 33%;
  padding: 20px;
}

.col {
  padding: 0;
  align-items: center;
}

.display-col {
  text-align: center;
}

.drumButton {
  position: relative;
  width: 25%;
}

.soundText {
  height: 2rem;
  width: 50%;
  background-color: white;
  margin: 0 auto;
  padding-top: .25rem;
}
