body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C8C6A7;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drumbox {
  background-color: #92967D;
  width: 70vw;
  height: 50vh;
  margin: 25vh auto 10vh;
  padding: 0;
}

.row {
  margin: 0;
}

.boxRow {
  height: 100%;
}

.btnRow {
  height: 33%;
  padding: 20px;
}

.col {
  padding: 0;
  align-items: center;
}

.display-col {
  text-align: center;
}

.drumButton {
  position: relative;
  width: 25%;
}

.btnIdle {
  background-color: #6E7C7C;
  box-shadow: 1.5px 1.5px;
}

.btnClicked {
  background-color: #435560;
  box-shadow: 0.5px 0.5px;
}

.powerButton {
  background-color: #C8C6A7;
}

.soundText {
  height: 2rem;
  width: 50%;
  background-color: #C8C6A7;
  margin: 0 auto;
  padding-top: .25rem;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  padding: 0 10px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #C8C6A7; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #435560; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #435560; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.trackButton {
  background-color: #C8C6A7
}

#footer {
  font-size: 1.25rem;
}
